@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  font-family: 'Archivo', sans-serif; }

.img-fluid {
  width: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

p, h1, h2, h3, h4 {
  padding: 0;
  margin: 0; }

.full-container {
  max-width: 1220px;
  width: 100%;
  border: 1px solid red; }

.footer {
  padding-top: 223px;
  padding-bottom: 284px;
  background-color: #222222; }
  .footer__footer-container {
    width: 100%;
    max-width: 1241.29px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto; }
  .footer__footer-d-flex {
    display: flex; }
    @media (max-width: 970px) {
      .footer__footer-d-flex {
        flex-wrap: wrap; } }
  .footer__col-1 {
    width: 100%;
    max-width: 50%;
    padding-right: 160px; }
    @media (max-width: 1070px) {
      .footer__col-1 {
        max-width: 40%;
        padding-right: 30px; } }
    @media (max-width: 970px) {
      .footer__col-1 {
        max-width: 100%;
        padding-right: 30px; } }
  .footer__col-2 {
    width: 100%;
    max-width: 16.666666%; }
    @media (max-width: 1070px) {
      .footer__col-2 {
        padding-right: 30px; } }
    @media (max-width: 970px) {
      .footer__col-2 {
        max-width: 33.333333%;
        padding-right: 30px; } }
    @media (max-width: 767px) {
      .footer__col-2 {
        max-width: 100%; } }
  .footer__pl-5 {
    padding-left: 27px !important; }
    @media (max-width: 970px) {
      .footer__pl-5 {
        padding-left: 0px !important; } }
  .footer__footer-h1 {
    font-size: 31.47px;
    color: #fff; }
    @media (max-width: 967px) {
      .footer__footer-h1 {
        font-size: 28px; } }
    @media (max-width: 967px) {
      .footer__footer-h1 {
        text-align: center; } }
  .footer__footer-p {
    font-size: 23.6px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    line-height: 28.32px; }
    @media (max-width: 967px) {
      .footer__footer-p {
        font-size: 20px; } }
  .footer__footer-ul {
    margin: 0;
    padding: 0; }
  .footer__footer-li {
    line-height: 41.59px; }
    @media (max-width: 967px) {
      .footer__footer-li {
        text-align: center; } }
  .footer__footer-a {
    font-size: 17.6px;
    font-family: 'Nunito', sans-serif;
    color: #fff; }
    .footer__footer-a:hover {
      transition: all 0.5s ease;
      color: #e4e4e4; }
  .footer__social-d-flex {
    display: flex; }
  .footer__social-container {
    border-radius: 50px;
    background-color: #fff;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 45px;
    margin-right: 15px; }
    .footer__social-container:hover {
      transition: all 0.5s ease-in-out;
      background-color: #e6e4e4; }
    .footer__social-container a {
      text-align: center;
      font-size: 19px;
      color: #222222;
      display: block; }

.barry__background-img {
  background-repeat: no-repeat;
  width: 100%;
  min-height: 790px;
  background-size: cover;
  background-image: url(../../img/Card.png);
  background-position: center;
  position: relative; }

.barry__barry-container {
  width: 100%;
  max-width: 874.73px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 280px;
  position: relative;
  z-index: 2; }

.barry__barry-p {
  margin-bottom: 125px;
  color: #fff;
  font-size: 36.46px;
  line-height: 43.75px; }

.barry__barry-h3 {
  color: #fff;
  font-size: 44.9px; }

.subscribe {
  background-color: #F6EEDF; }
  .subscribe__subscribe-background-img {
    width: 100%;
    max-width: 1301px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    background-image: url(../../img/subscribe-bg.png);
    background-repeat: no-repeat;
    min-height: 891px; }
  .subscribe__subscribe-container {
    padding: 295px 15px 208px 15px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .subscribe__subscribe-h1 {
    font-size: 75px;
    font-weight: 400;
    color: #F64B3C;
    margin-bottom: 33.8px; }
    @media (max-width: 970px) {
      .subscribe__subscribe-h1 {
        font-size: 60px;
        line-height: 50px; } }
    @media (max-width: 767px) {
      .subscribe__subscribe-h1 {
        font-size: 45px; } }
  .subscribe__subscribe-p {
    font-size: 29.72px;
    font-weight: 400;
    color: #F64B3C;
    line-height: 29.72px; }
    @media (max-width: 970px) {
      .subscribe__subscribe-p {
        font-size: 26px; } }
    @media (max-width: 767px) {
      .subscribe__subscribe-p {
        font-size: 22px; } }
  .subscribe__search-container {
    margin-top: 83px;
    width: 100%;
    display: flex;
    border-radius: 50px; }
  .subscribe__subscribe-input {
    width: 100%;
    height: 65px;
    background-color: #fff;
    color: #835E3F;
    font-weight: 300;
    outline: none;
    border: 1px solid transparent;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px; }
    @media (max-width: 970px) {
      .subscribe__subscribe-input {
        height: 50px; } }
  .subscribe__search-button {
    width: 100%;
    max-width: 222px;
    background-color: #F64B3C;
    color: #fff;
    cursor: pointer;
    height: 65px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid transparent;
    font-weight: 400;
    font-size: 25px; }
    @media (max-width: 970px) {
      .subscribe__search-button {
        height: 50px;
        font-size: 20px;
        max-width: 200px; } }
    @media (max-width: 640px) {
      .subscribe__search-button {
        max-width: 150px; } }

.team__team-background-img {
  width: 100%;
  max-width: 100%;
  min-height: 796px;
  background-position: 10% 90%;
  background-size: cover;
  background-image: url(../../img/team-bg.png);
  background-repeat: no-repeat; }

.team__team-container {
  padding: 68px 15px 0px 15px; }

.team__our-cheaf {
  width: 100%;
  max-width: 818px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.team__team-h1 {
  font-size: 63px;
  margin-bottom: 25.6px;
  color: #F64B3C;
  font-weight: 400; }

.team__team-p {
  font-size: 25.23px;
  line-height: 30.27px;
  color: #F64B3C; }

.team__our-team {
  margin-top: 75px;
  width: 100%;
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto; }

.team__team-flex {
  display: flex;
  justify-content: space-between;
  text-align: center; }
  @media (max-width: 640px) {
    .team__team-flex {
      flex-wrap: wrap; } }

.team__team-col-1 {
  width: 100%;
  max-width: 247.34px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 790px) {
    .team__team-col-1 {
      max-width: 217.34px;
      padding-left: 5px;
      padding-right: 5px; } }
  @media (max-width: 640px) {
    .team__team-col-1 {
      max-width: 90%; } }

.team__team-img {
  width: 100%;
  height: 238px; }
  .team__team-img img {
    width: 100%;
    height: 100%;
    background-size: cover; }

.team__team-h2 {
  font-size: 27.33px;
  color: #F64B3C;
  margin-top: 11px;
  margin-bottom: 10px;
  font-weight: 400; }
  @media (max-width: 790px) {
    .team__team-h2 {
      font-size: 24px; } }

.team__team-span {
  font-size: 20px;
  color: #F64B3C;
  display: block; }
  @media (max-width: 790px) {
    .team__team-span {
      font-size: 21px; } }

.count {
  padding-top: 70px;
  padding-bottom: 183px;
  background-color: #F64B3C; }
  @media (max-width: 790px) {
    .count {
      padding-bottom: 70px; } }
  .count__count-statistics {
    width: 100%;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; }
  .count__count-h1 {
    font-size: 62.26px;
    margin-bottom: 24px;
    color: #fff; }
    @media (max-width: 480px) {
      .count__count-h1 {
        font-size: 45px; } }
  .count__count-p {
    font-size: 24.68px;
    color: #fff;
    line-height: 29.61px; }
    @media (max-width: 480px) {
      .count__count-p {
        font-size: 20px; } }
  .count__count-flex {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1164px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 640px) {
      .count__count-flex {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    @media (max-width: 480px) {
      .count__count-flex {
        margin-top: 30px; } }
  .count__count-down, .count__count-text-span {
    font-size: 101px;
    color: #fff; }
    @media (max-width: 967px) {
      .count__count-down, .count__count-text-span {
        font-size: 80px; } }
    @media (max-width: 767px) {
      .count__count-down, .count__count-text-span {
        font-size: 50px; } }
  .count__count-p2 {
    margin-top: 20px;
    font-size: 33.33px;
    color: #fff; }
    @media (max-width: 967px) {
      .count__count-p2 {
        font-size: 27px; } }
    @media (max-width: 767px) {
      .count__count-p2 {
        font-size: 20px; } }
  .count__count-box {
    width: 100%;
    max-width: 310px;
    height: 310px;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    @media (max-width: 1023px) {
      .count__count-box {
        max-width: 280px;
        height: 280px; } }
    @media (max-width: 967px) {
      .count__count-box {
        max-width: 220px;
        height: 220px; } }
    @media (max-width: 767px) {
      .count__count-box {
        max-width: 160px;
        height: 160px; } }
    @media (max-width: 640px) {
      .count__count-box {
        margin-top: 20px; } }

.package__package-background-img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(../../img/package-bg.png);
  background-repeat: no-repeat; }

.package__package-h1 {
  padding-top: 70.6px;
  font-size: 75px;
  color: #F64B3C;
  font-weight: 400;
  text-align: center; }
  @media (max-width: 640px) {
    .package__package-h1 {
      font-size: 55px;
      line-height: 53px; } }

.package__package-container {
  margin-top: 138px;
  padding-bottom: 84px; }
  @media (max-width: 640px) {
    .package__package-container {
      margin-top: 60px; } }

.package__package-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (max-width: 640px) {
    .package__package-flex {
      flex-wrap: wrap; } }

.package__package-col-1 {
  width: 100%;
  max-width: 336px;
  padding: 21.6px 21.6px 24px 21.6px;
  text-align: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .package__package-col-1 {
      padding-left: 10px;
      padding-right: 10px; } }
  @media (max-width: 640px) {
    .package__package-col-1 {
      max-width: 80%; } }

.package__package-mlr {
  margin-left: 10px;
  margin-right: 10px; }
  @media (max-width: 640px) {
    .package__package-mlr {
      margin: 10px auto 10px auto; } }

.package__package-h3 {
  font-size: 33.35px;
  color: #F64B3C;
  font-weight: 400;
  margin-bottom: 31.7px; }
  @media (max-width: 767px) {
    .package__package-h3 {
      font-size: 28px; } }

.package__package-img {
  width: 104px;
  height: 102px; }
  @media (max-width: 767px) {
    .package__package-img {
      width: 90px;
      height: 86px; } }

.package__package-span {
  font-size: 33.35px;
  color: #F64B3C;
  display: block;
  margin-top: 29.8px; }
  @media (max-width: 767px) {
    .package__package-span {
      font-size: 28px; } }

.package__package-p {
  margin-top: 9.6px;
  margin-bottom: 31px;
  font-size: 20px;
  color: #F64B3C; }
  @media (max-width: 767px) {
    .package__package-p {
      font-size: 18px; } }

.package__package-btn {
  width: 100%;
  max-width: 290px;
  background-color: #f7594b;
  color: #fff;
  font-size: 22.57px;
  display: block;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  border-radius: 50px;
  transition: all 0.3s ease; }
  @media (max-width: 767px) {
    .package__package-btn {
      font-size: 18px;
      padding-bottom: 10px;
      padding-top: 10px; } }
  @media (max-width: 640px) {
    .package__package-btn {
      margin-left: auto;
      margin-right: auto; } }
  .package__package-btn:hover {
    background-color: #ff6253; }

.best-burger {
  background-color: #F64B3C; }
  .best-burger__best-burger-container {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 159px 15px 135px 15px; }
    @media (max-width: 790px) {
      .best-burger__best-burger-container {
        padding-top: 80px;
        padding-bottom: 80px; } }
  .best-burger__best-burger-flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 790px) {
      .best-burger__best-burger-flex {
        flex-direction: column;
        justify-content: center; } }
  .best-burger__best-burger-img {
    max-width: 474px; }
    @media (max-width: 1239px) {
      .best-burger__best-burger-img {
        max-width: 400px; } }
    @media (max-width: 970px) {
      .best-burger__best-burger-img {
        max-width: 360px; } }
    @media (max-width: 480px) {
      .best-burger__best-burger-img {
        width: 100%;
        max-width: 300px; } }
  .best-burger__best-burger-col-2 {
    padding-left: 30px;
    max-width: 581.5px; }
    @media (max-width: 790px) {
      .best-burger__best-burger-col-2 {
        text-align: center;
        margin-top: 20px; } }
    @media (max-width: 480px) {
      .best-burger__best-burger-col-2 {
        padding-left: 0; } }
  .best-burger__best-burger-h1 {
    font-size: 75px;
    font-weight: 300;
    color: #fff;
    line-height: 90px; }
    @media (max-width: 1239px) {
      .best-burger__best-burger-h1 {
        font-size: 60px; } }
    @media (max-width: 480px) {
      .best-burger__best-burger-h1 {
        font-size: 40px; } }
  .best-burger__best-burger-p {
    font-size: 29.75px;
    font-weight: 400;
    color: #fff;
    font-weight: 400;
    line-height: 35.67px;
    margin-top: 32.2px;
    margin-bottom: 62px;
    font-family: 'Nunito', sans-serif; }
    @media (max-width: 1239px) {
      .best-burger__best-burger-p {
        font-size: 26.5px;
        margin-bottom: 55px; } }
    @media (max-width: 790px) {
      .best-burger__best-burger-p {
        margin-top: 0px;
        margin-bottom: 45px; } }
    @media (max-width: 480px) {
      .best-burger__best-burger-p {
        font-size: 20px;
        line-height: 30px; } }
  .best-burger__best-burger-btn {
    display: block;
    color: #F64B3C;
    font-size: 25px;
    font-weight: bold;
    background-color: #fff;
    max-width: 322px;
    text-align: center;
    line-height: 65px;
    border-radius: 50px; }
    @media (max-width: 1239px) {
      .best-burger__best-burger-btn {
        font-size: 22px;
        line-height: 55px; } }
    @media (max-width: 790px) {
      .best-burger__best-burger-btn {
        font-size: 19px;
        line-height: 45px;
        margin-left: auto;
        margin-right: auto; } }

.big-burger__burger-bg-img {
  background-image: url(../../img/Content.png);
  background-size: cover;
  width: 100%;
  min-height: 829px;
  background-repeat: no-repeat;
  background-position: center; }

.big-burger__big-burger-container {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 203px 15px 157px 15px; }
  @media (max-width: 790px) {
    .big-burger__big-burger-container {
      padding-top: 80px;
      padding-bottom: 80px; } }

.big-burger__big-burger-flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 790px) {
    .big-burger__big-burger-flex {
      flex-direction: column;
      justify-content: center; } }

.big-burger__big-burger-col-2 {
  width: 100%;
  max-width: 576px;
  padding-right: 50px; }
  @media (max-width: 790px) {
    .big-burger__big-burger-col-2 {
      margin-bottom: 3rem;
      padding-right: 0px;
      text-align: center; } }

.big-burger__big-burger-img {
  max-width: 474px; }
  @media (max-width: 1239px) {
    .big-burger__big-burger-img {
      max-width: 400px; } }
  @media (max-width: 970px) {
    .big-burger__big-burger-img {
      max-width: 360px; } }
  @media (max-width: 480px) {
    .big-burger__big-burger-img {
      width: 100%;
      max-width: 300px; } }

.big-burger__big-burger-h1 {
  font-size: 75px;
  font-weight: 400;
  color: #F64B3C;
  line-height: 90px; }
  @media (max-width: 1239px) {
    .big-burger__big-burger-h1 {
      font-size: 60px; } }
  @media (max-width: 480px) {
    .big-burger__big-burger-h1 {
      font-size: 40px; } }

.big-burger__big-burger-p {
  font-size: 29.72px;
  font-weight: 400;
  color: #F64B3C;
  line-height: 35.67px;
  margin-top: 34.2px;
  margin-bottom: 27.4px; }
  @media (max-width: 1239px) {
    .big-burger__big-burger-p {
      font-size: 26.5px; } }
  @media (max-width: 790px) {
    .big-burger__big-burger-p {
      margin-top: 0px; } }
  @media (max-width: 480px) {
    .big-burger__big-burger-p {
      font-size: 20px;
      line-height: 30px; } }

.big-burger__big-burger-btn {
  display: block;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  background-color: #F64B3C;
  max-width: 322px;
  text-align: center;
  line-height: 65px;
  border-radius: 50px; }
  @media (max-width: 1239px) {
    .big-burger__big-burger-btn {
      font-size: 22px;
      line-height: 55px; } }
  @media (max-width: 790px) {
    .big-burger__big-burger-btn {
      font-size: 19px;
      line-height: 45px;
      margin-left: auto;
      margin-right: auto; } }
