@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');

*
{
    box-sizing: border-box;
}

body{
margin: 0;
padding: 0;
font-size: 15px;
line-height: 26px;
font-weight: 400;
font-family: 'Archivo', sans-serif;
}

.img-fluid{
    width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
p,h1,h2,h3,h4{
    padding: 0;
    margin: 0;
}
// @include respond(phone-2)

@mixin respond($breakpoint){
    @if $breakpoint == zero-size{
        @media (max-width: 480px) {@content}; //640px
     }
    @if $breakpoint == phone{
       @media (max-width: 640px) {@content}; //640px
    }
  
   
    @if $breakpoint == phone-2{
       @media (max-width: 767px) {@content}; //640px
    }
    @if $breakpoint == phone-1{
        @media (max-width: 790px) {@content}; //640px
     }
    @if $breakpoint == phone-1-min{
        @media (min-width: 790px) {@content}; //640px
     }
     @if $breakpoint == phone-3{
        @media (max-width: 390px) {@content}; //640px
     }
    @if $breakpoint == tab-port-1{
        @media (max-width: 967px) {@content}; //900px
    }
   @if $breakpoint == tab-port{
       @media (max-width: 970px) {@content}; //900px
   }
  
   @if $breakpoint == tab-land{
       @media (max-width: 1023px) {@content}; //1224px
   }
   @if $breakpoint == tab-land-5{
       @media (max-width: 1070px) {@content}; //1224px
   }
  
   @if $breakpoint == tab-land-6{
       @media (max-width: 1239px) {@content}; //1224px
   }
   @if $breakpoint == tab-land-4{
       @media (max-width: 1279px) {@content}; //1224px
   }
 
   @if $breakpoint == tab-land-1{
       @media (max-width: 1339px) {@content}; //
   }
   @if $breakpoint == tab-land-2{
    @media (max-width: 1650px) {@content}; //
}
   @if $breakpoint == big-desktop{
       @media (min-width: 112.5em) {@content}; //1800px
   }
   @if $breakpoint == big-desktop-min{
       @media (min-width: 1080px) {@content}; //1800px
   }
}


.full-container{
    max-width: 1220px;
    width: 100%;
    border: 1px solid red;
}