.footer{
    padding-top: 223px;
    padding-bottom: 284px;
    background-color: #222222;
    @include respond (tab-port){
        padding-top: 123px;
        padding-bottom: 184px;
    }
    @include respond (phone-2){
        padding-top: 70px;
        padding-bottom: 80px;
    }
    @include respond (zero-size){
        padding-top: 40px;
        padding-bottom: 50px;
    }
    &__footer-container{
        width: 100%;
        max-width: 1241.29px;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;
        
        // border: 1px solid red;
    }
    &__footer-d-flex{
        display: flex;
        justify-content: space-between;
       @include respond(tab-port){
           flex-wrap: wrap;
       }
    }
    &__col-1{
        width: 100%;
        max-width: 50%;
        // border: 1px solid red;
        padding-right: 160px;
        @include respond(tab-land-5){
            max-width: 40%;
            padding-right:30px;
            // background-color: blue;
        }
       
        @include respond(tab-port){
            max-width: 100%;
            padding-right:30px;
            padding-left:30px;
            text-align: center;
            // background-color: red;
        }
        
        @include respond(zero-size){
            padding-right: 5px;
            padding-left: 5px;
        }
    }
    &__col-2{
        width: 100%;
        max-width: 16.666666%;
        // border: 1px solid blue;
        @include respond(tab-land-5){
            padding-right:0px;
        }
        @include respond(tab-port){
            max-width: 33.333333%;
            padding-right:0px;
        }
        @include respond(phone-2){
            max-width: 100%;
            &:not(:first-child){
                margin-top: 12px;
            }
        }
        
    }
    &__pl-5{
        padding-left:27px !important;
        @include respond(tab-land-6){
            // padding-left: 30px;
            // background-color: beige;
        }
        @include respond(tab-port){
            padding-left: 0px !important;
        }
    }
    
    &__footer-h1{
        font-size: 31.47px;
        color: #fff;
        margin-bottom: 23.6px ;
        @include respond(tab-port-1){
            font-size: 28px;
            text-align: center;
        }
        @include respond(phone-2){
            margin-bottom: 8px;
        }
       
    }
    &__footer-p{
        font-size: 23.6px;
        font-weight: 400;
        font-family: 'Nunito', sans-serif;
        color: #fff;
        line-height: 28.32px;
        @include respond(tab-port-1){
            font-size: 20px;
        }
    }
    &__footer-ul{
        margin: 0;
        padding: 0;
    }
    &__footer-li{
        line-height: 41.59px;
        // text-align: center;
      @include respond(phone-2){
        &:last-child{
            margin-bottom: 8px;
        }
      }
       
        @include respond(tab-port-1){
            text-align: center;
        }
    }
    &__footer-a{
        font-size: 17.6px;
        font-family: 'Nunito', sans-serif;
        color: #fff;
       
        &:hover{
            transition: all 0.5s ease;
            color: rgb(201, 200, 200);
        }
        
    }
    &__social-d-flex{
        margin-top:38px ;
        display: flex;
        @include respond(tab-port){
            justify-content: center;
            margin-bottom: 2rem;
        }
        
    }
    &__social-container{
        // padding: 11.5px 10px 9.5px 10px;
        border-radius: 50px;
        background-color: #fff;
        width:42px ;
        height: 42px;
        text-align: center;
        line-height: 45px;
        margin-right: 15px;
        &:hover{
            transition: all 0.5s ease-in-out;
            background-color: rgb(230, 228, 228);
        }
        a{
            text-align: center;
            font-size: 19px;
            color: #222222;
            display: block;
        }
    }
}
