.cashback{
    &__cashback-main-bg{
        min-height: 995px;
        // min-height: 98.8vh;
        width: 100%;
        background-image: url(../../img/header_main-bg.png);
        background-repeat: no-repeat;
        background-position: 0% 100%;
        @include respond(tab-port-1){
            background-position: 20% 100%;
        }
        @include respond(phone-2){
            background-position: 40% 100%;
        }
        @include respond(phone){
            min-height: 776px;
            background-position: 40% 60%;
        }
    }
    &__cashback-content{
        // display: none;
        padding-top: 206px;
        padding-left:83.4px;
        @include respond(phone){
            padding-left: 54px;
            padding-top: 170px;
        }
        @include respond(zero-size){
            padding-left: 15px;
        }
    }
    &__cashback-h1,
    &__cashback-h2{
        color: #fff;
        font-size: 91px;
        line-height: 96px;
        @include respond(phone-2){
            font-size: 75px;
        }
        @include respond(phone){
            font-size: 55px;
            line-height: 76px;
        }
        @include respond(zero-size){
            font-size: 40px;
            line-height: 60px;
        }
    }
    &__cashback-p{
        max-width: 637px;
        color: #fff;
        font-size: 32px;
        line-height: 39px;
        margin-top: 28px;
        margin-bottom: 54px;
        padding-right: 1rem;
        @include respond(phone-2){
            font-size: 28px;
        }
        @include respond(phone){
            font-size: 20px;
        }
        @include respond(zero-size){
            line-height: 30px;
        }
    }
    &__cashback-btn{
        display: block;
        width: 100%;
        max-width: 322px;
        background-color: #F64B3C;
        color: #fff;
        font-size: 25px;
        text-align: center;
        line-height: 65px;
        border-radius: 50px;
        font-weight: bold;
        @include respond(phone-2){
            font-size: 22px;
            line-height: 55px;
        }
        @include respond(phone){
            line-height: 45px;
            max-width: 280px;
        }
    }
}