.barry{
   
    &__background-img{
        background-repeat: no-repeat;
        width: 100%;
        min-height: 790px;
        background-size: cover;
        background-image: url(../../img/Card.png);
        background-position: center;
        position: relative;
        // background-position: 80% 50%;

    }
    &__barry-container{
        width: 100%;
        max-width: 874.73px;
        margin-left: auto;
        margin-right: auto;
        // border: 1px solid red;
        text-align: center;
        padding-top: 280px;
        // padding-bottom: 225px;
        position: relative;
        z-index: 2;
    }
    &__barry-p{
        margin-bottom: 125px;
        color: #fff;
        font-size: 36.46px;
        line-height: 43.75px;
    }
    &__barry-h3{
        color: #fff;
        font-size: 44.9px;
    }
    
}