.best-burger{
    background-color:#F64B3C ;
    min-height: 200px;
    &__best-burger-container{
        width: 100%;
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        padding: 159px 15px 135px 15px;
        @include respond(phone-1){
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
    &__best-burger-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond(phone-1){
            flex-direction: column;
            justify-content: center;
        }
    }
    &__best-burger-img{
        max-width: 474px;
        // min-height: 274px;
        @include respond(tab-land-6){
            max-width: 400px;
            // background-color: white;
        }
        @include respond(tab-port){
            max-width: 360px;
            // background-color: pink;
        }
        @include respond(zero-size){
            width: 100%;
            max-width:  300px;
        }
        
    }
    &__best-burger-col-2{
        padding-left: 30px;
        max-width: 581.5px;
        @include respond(phone-1){
            text-align: center;
            margin-top: 20px;
        }
        @include respond(zero-size){
            padding-left: 0;
        }
    }
    &__best-burger-h1{
        // margin-top: 75px;
        font-size: 75px;
        font-weight: 300;
        color: #fff;
        line-height: 90px;
        @include respond(tab-land-6){
            // margin-top: 55px;
            font-size: 60px;
        }
        @include respond(zero-size){
            font-size: 40px;
        }
    }
    &__best-burger-p{
        font-size: 29.75px;
        font-weight: 400;
        color: #fff;
        font-weight: 400;
        line-height: 35.67px;
        margin-top: 32.2px;
        margin-bottom: 62px;
        font-family: 'Nunito', sans-serif;
        @include respond(tab-land-6){
            font-size: 26.5px;
            margin-bottom: 55px;
        }
        @include respond(phone-1){
            margin-top: 0px;
            margin-bottom: 45px;
        }
        @include respond(zero-size){
            font-size: 20px;
            line-height: 30px;
        }
    }
    &__best-burger-btn{
        display: block;
        color: #F64B3C;
        font-size:25px;
        font-weight: bold;
        background-color: #fff;
        max-width:322px;
        text-align: center;
        line-height: 65px;
        border-radius: 50px;
        @include respond(tab-land-6){
            font-size: 22px;
            line-height: 55px;
        }
        @include respond(phone-1){
            font-size: 19px;
            line-height: 45px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}