.team{
   
    &__team-background-img{
            width: 100%;
            max-width: 100%;
            min-height:796px;
            background-position: 10% 90%;
            background-size:cover;
            background-image: url(../../img/team-bg.png);
            background-repeat: no-repeat;
            @include respond(tab-land-6){
                background-position:40% 0%;
            }
            @include respond(tab-port){
                background-position: 80% 0%;
            }
            @include respond(zero-size){
                background-position: 97% 100%;
            }
        
    }  
    &__team-container{
        padding: 68px 15px 0px 15px;  
    }
    &__our-cheaf{
        width: 100%;
        max-width: 818px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    &__team-h1{
        font-size: 63px;
        margin-bottom: 25.6px;
        color: #F64B3C;
        font-weight: 400;
    }
    &__team-p{
        font-size: 25.23px;
        line-height: 30.27px;
        color: #F64B3C;
        
    }
    &__our-team{
        margin-top: 75px;
        width: 100%;
        max-width: 1090px;
        margin-left: auto;
        margin-right: auto;
        // border: 1px solid red;
    }
    &__team-flex{
        display: flex;
        
        justify-content: space-between;
        text-align: center;
        @include respond(phone){
            flex-wrap: wrap;
        }
    }
    &__team-col-1{
        // border: 1px solid red;
        width: 100%;
        // width: 24.3%;
        // flex: 0 0 24.3%;
        max-width: 247.34px;
        margin-left: auto;
        margin-right: auto;
        @include respond(phone-1){
            max-width: 217.34px;
            // background-color: pink;
            
                padding-left: 5px;
                padding-right: 5px;
            
        }
        @include respond(phone){
            max-width:90% ;
            // background-color: red;
        }
    }
    &__team-img{
        width: 100%;
        // padding-left: 10px;
        height: 238px;
        @include respond(phone){
            height: 258px;
        }
        
        img{
            width: 100%;
            height: 100%;
            background-size: cover;
           object-fit: cover;
           background-position: 30% 30%;
        }
    }
    &__team-h2{
        // font-size: 33.33px;
        font-size: 27.33px;
        color: #F64B3C;
        margin-top: 11px;
        margin-bottom: 10px;
        font-weight: 400;
        @include respond(phone-1){
            font-size: 24px;
        }
    }
    &__team-span{
        font-size: 20px;
        color: #F64B3C;
        display: block;
        @include respond(phone-1){
            font-size: 21px;
        }
    }
}